{% extends 'base.html' %}

{% block scripts %}
{{ super() }}
<script src="static/scripts/wikiwatch.js"></script>
{% endblock scripts %}

{% block content %}
<h1>WikiWatch <span class="version">v1.0</span></h1>
{% if articles.count() > 0 %}
<ul>
	{% for article in articles %}
	<li>
		<a href="{{ article.url }}">{{ article.title }}</a>
		{% if article.links.count() > 0 %}
		 <span>Links {{ article.links.filter(visited__isnull=False).count() }}/{{ article.links.count() }}</span>
		 <a href="#" class="expand">More</a>
        <ul>
	        {% for link in article.links.all().order_by('title') %}
	        <li{% if link.visited %} class="visited"{% endif %}>
		        <a href="{{ link.url }}">{{ link.title }}</a>
		        {% if link.visited %} <span>Visited</span>{% endif %}
	        </li>
	        {% endfor %}
        </ul>
        {% endif %}
	</li>
	{% endfor %}
</ul>
{% endif %}
{% endblock content %}
