body {
    background: #666 url(../images/pw.png) bottom left no-repeat;
    color: #fff;
    font: 14px/1.8 "Droid Serif", Georgia, serif;
    min-height: 764px;
}

/** Structure */

#container {
    margin: 0 0 0 300px;
    width: 600px;
}

/** Elements */

h1 {
    font-size: 48px;
    line-height: 2;
    text-shadow: 2px 2px 10px #333;
}

a,
a:visited {
    color: #ddd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-bottom: 10px;
}

ul li {
    margin-left: 20px;
}

body.js ul li ul {
    display: none;
}

ul li ul li {
    font-size: 10px;
    margin-left: 30px;
}

h1 span.version {
    color: #9ed9a0;
    font-size: 12px;
}

ul li span,
ul li a.expand {
    font: 9px/1 Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

ul li a.expand {
    background-color: #fff;
    color: #666;
    display: none;
    padding: 0 3px;
}

body.js ul li a.expand {
    display: inline;
}

ul li a.expand:hover {
    text-decoration: none;
}
