body {
    background-color: #666;
    color: #fff;
    font: 14px/1.8 "Droid Serif", Georgia, serif;
}

h1 {
    font-size: 48px;
    line-height: 2;
    text-shadow: 2px 2px 10px #333;
}

a,
a:visited {
    color: #ddd;
}

p {
    margin-bottom: 10px;
}

#container {
    margin: 0 auto;
    width: 600px;
}

h1 span.version {
    font-size: 12px;
}

ul li span {
    font: 9px/1 Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}